@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {*/
/*    background-color: rebeccapurple;*/
/*}*/

.bouton{
    border: solid black 1px;
    border-radius: 5px;
    background-color: #D6FFEB;
    padding: 2px;
    margin: 4px 2px 0px 2px ;
}

table, input, select{
    border: solid gray 1px;
    padding: 4px;
    margin-top: 4px;

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}