<form method="post" action="{{ path('app_hiit_program_delete', {'id': hiit_program.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hiit_program.id) }}">
    <button class="btn">Delete</button>
</form>
