{% extends 'base.html.twig' %}

{% block title %} Hiit it{% endblock %}

{% block body %}
    <h1 class="sm:text-xl md:text-2xl lg:text-4xl font-semibold m-4 text-center"> Mon programme Hiit</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}



{% endblock %}
