{% extends 'base.html.twig' %}

{% block title %}Edit HiitProgram{% endblock %}

{% block body %}
    <h1>Edit HiitProgram</h1>

    {{ include('hiit_program/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hiit_program_index') }}">back to list</a>

    {{ include('hiit_program/_delete_form.html.twig') }}
{% endblock %}
