{% extends 'base.html.twig' %}

{% block title %}Nouveau Hiit{% endblock %}

{% block body %}
    <h1>Mon HIIT généré</h1>
    <div>
    <label for="hiit_program_exercices">Exercices</label>
        <select id="hiit_program_exercices" name="hiit_program[exercices][]" multiple="multiple">
        {% for exercice in exercices %}
            <option value="{{ exercice.id }}">{{ exercice.exerciceName }}</option>
        {% endfor %}
        </select>
    </div>
{% endblock %}
