{% extends 'base.html.twig' %}

{% block title %}HiitProgram index{% endblock %}

{% block body %}
    <h1>HiitProgram index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>HiitName</th>
                <th>Timer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hiit_program in hiit_programs %}
            {% if hiit_program.status == true %}
                <tr>
                    <td>{{ hiit_program.id }}</td>
                    <td>{{ hiit_program.hiitName }}</td>
                    <td>{{ hiit_program.timer }}</td>
                    <td>
                        <a href="{{ path('app_hiit_program_show', {'id': hiit_program.id}) }}">Voir</a>
                        {% if app.user == hiit_program.creatorId %}
                            <a href="{{ path('app_hiit_program_edit', {'id': hiit_program.id}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('app_hiit_program_new') }}">Create new</a>
{% endblock %}
