{% extends 'base.html.twig' %}

{% block title %}New HiitProgram{% endblock %}

{% block body %}
    <h1>Create new HiitProgram</h1>

    {{ include('hiit_program/_form.html.twig') }}

    <a href="{{ path('app_hiit_program_index') }}">back to list</a>
{% endblock %}
