{% extends 'base.html.twig' %}

{% block title %}HiitProgram{% endblock %}

{% block body %}
    <div class="justify-items-center">
        <h1 class="text-emerald-400 text-3xl text-center">Mon HIIT </h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 justify-content-center ">
        {% for exercice in hiit_program.exercices %}
            <div class="grid-rows-2 border border-emerald-400 justify-content-center rounded-md max-h-40">
                <div>{{ exercice.exerciceName }}</div>
                <div>
                {% if exercice.exerciceImg is empty %}
                    <img src="{{ asset('img/exercice.png') }}" alt="pas de photo" class="justify-content-center max-h-28">
                {% elseif exercice.exerciceImg is not empty %}
                    <img src="{{ asset('img/' ~ exercice.exerciceImg) }}" alt="photo profil">
                {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
        <a class="bouton" href="{{ path('app_hiit_program_index') }}">back to list</a>

        <a class="bouton" href="{{ path('app_hiit_program_edit', {'id': hiit_program.id}) }}">edit</a>
        {% if app.user in hiit_program.FavedByUserId %}
            <a class="bouton" href="{{ path('app_hiit_unfav', {'id': hiit_program.id}) }}">Supprimer des favoris</a>
        {% else %}
            <a class="bouton" href="{{ path('app_hiit_fav', {'id': hiit_program.id}) }}">Ajouter aux favoris</a>
        {% endif %}
        {% if hiit_program.status == true and app.user.id == hiit_program.creatorId.id %}
            <a class="bouton" href="{{ path('app_hiit_unpublish', {'id': hiit_program.id}) }}">Dépublier </a>
        {% elseif hiit_program.status == false and app.user.id == hiit_program.creatorId.id %}
            <a class="bouton" href="{{ path('app_hiit_publish', {'id': hiit_program.id}) }}">Publier</a>
        {% endif %}

        {{ include('hiit_program/_delete_form.html.twig') }}
    </div>
{% endblock %}
