<nav class="flex">
    <div class="inline-flex m-4 ">
        <div class="text-xl font-semibold pr-4"><a href="{{ path('app_home')}}"> Hiit It Run </a></div>
        {% if app.user %}
            <div class="px-2 hover:border-b-2 border-emerald-300"> <a href="{{ path('app_user_show', {'id': app.user.id})}}"> Mon compte</a></div>
            <div class="px-2 hover:border-b-2 border-emerald-300"> <a href="{{ path('app_logout')}}"> Se deconnecter</a></div>
        {% else %}
            <div class="px-2 hover:border-b-2 border-emerald-300"> <a href="{{ path('app_login')}}"> Se connecter</a></div>
            <div class="px-2 hover:border-b-2 border-emerald-300"><a href="{{ path('app_register')}}">Créer un compte</a></div>
        {% endif %}
        <div class="px-2 hover:border-b-2 border-emerald-300"><a href="{{ path('app_hiit_program_new')}}">Créer un HIIT</a></div>
        {% if is_granted('ROLE_ADMIN')  %}
        <div class="px-2 hover:border-b-2 border-emerald-300"> <a href="{{ path('admin')}}">Administration </a></div>
        {% endif %}
        <div class="px-2 hover:border-b-2 border-emerald-300"> <a href="{{ path('app_hiit_program_index')}}">Liste des programmes </a></div>
    </div>
</nav>