{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="text-emerald-500 text-2xl font-bold">Modifier mon compte</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_show', {'id': user.id}) }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
