{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="grid justify-items-center">
        <div class="grid grid-cols-1 sm:grid-cols-2 justify-content-center">
            <div class="sm:grid grid-rows-11 col-span-1  sm:bg-emerald-800 sm:bg-opacity-10 max-w-sm">
                <div class="text-emerald-500 font-bold row-span-1 text-center md:text-3xl ">{{ user.username }}</div>
                <div class="row-span-1 font-semibold md:text-xl">Equipement : </div>
                <div class="row-span-4">
                    {% for equip in user.equipment %}
                        <p>- {{ equip.equipmentName }}</p>
                    {% endfor %}
                </div>
                <div class="row-span-1 font-semibold md:text-xl">Hiit favoris : </div>
                <div class="row-span-4">
                    {% for fav in user.favedHiitPrograms %}
                        <p><a href="{{ path('app_hiit_program_show', {'id': fav.id}) }}">{{ fav.hiitName }}</a></p>
                    {% endfor %}
                </div>
            </div>
            <div class="grid grid-cols-1 grid-rows-6 sm:grid-cols-1 col-span-1 ml-4 justify-items-left max-w-md text-xs sm:text-sm md:text-base lg:text-lg">

                <div class="grid grid-cols-2 text-gray-800 my-1 pr-16" ><label class="font-bold col-span-1">Nom d'utilisateur </label><div>  {{ user.username}}  </div></div>
                {% if app.user.id == user.id %}
                <div class="grid grid-cols-2 text-gray-800 my-1 pr-16" ><label class="font-bold col-span-1">Nom </label><div>  {{ user.nom}}  </div></div>
                <div class="grid grid-cols-2 text-gray-800 my-1 pr-16" ><label class="font-bold col-span-1">Prénom </label><div> {{ user.prenom}}  </div></div>
                <div class="grid grid-cols-2 text-gray-800 my-1 pr-16" ><label class="font-bold col-span-1">Email </label>
                    <a href="mailto:{{user.email}} " class="xl:hidden"> Me contacter </a> <a href="mailto:{{user.email}} " class="hidden xl:inline-grid">{{user.email}}</a> </div>
                {% endif %}
            </div>

        </div>
        <div class="grid grid-cols-4 justify-items-center mt-2 text-xs sm:text-sm md:text-base">
            <a href="javascript:history.back()" class="btn button py-1 px-6 bg-emerald-500 text-white">Retour </a>
            {% if app.user.id == user.id %}
                <a class="hidden sm:block btn button py-1 px-6 bg-emerald-500 text-white" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
            {% endif %}

            {% if 'ROLE_ADMIN' in app.user.roles %}
                {{ include('user/_delete_form.html.twig') }}
            {% endif %}
        </div>

    </div>
{% endblock %}
